*{
    background-color: #2c3227;
    color: white;
}
h1{
    text-align: center;
    text-shadow: 2rem;
}
#bodypara{
    text-align: center;
    font-size: 20px;
}
#doc{
    font-size: 20px;
}
a{
    color: #66b2ff;
    text-shadow: 0;
    font-weight: 10px; 
}

button{
    cursor: pointer;
    left: 42%;
    position: relative;
    padding: 1%;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
}
#dis{
    text-align: center;
}